<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
<!--  <link rel="stylesheet" type="text/css" href="/assets/css/tail.min.css">
-->
  <script type='text/javascript' src="/assets/javascript/main.js"></script>

</head>

<body class="leading-normal tracking-normal text-black" style="font-family: 'Source Sans Pro', sans-serif;">
    <nav id="header" class="w-full z-30 top-0 text-black">
      <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
        <div class="pl-4 flex items-center">
          <a class="text-black no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="/">{{.SiteName}}</a>
        </div>
         <div class="px-4" style="font-family: 'courier'">
                      {{ if index .User "id" }}
                      <form id="logout" method="POST" action="/sessions/">
                        <input type="hidden" name="_method" value="DELETE"/>
                      </form>
                      <a href="/users/{{ index .User "username" }}/">{{ index .User "username" }}</a> 
  <span class="text-gray-300">|</span> 
  <a onclick="doLogout(event);" href="#">logout</a>
                      {{ else }}
        <a href="/sessions/new/">login</a> 
                      {{ end }}
         </div>
      </div>
    <hr class="border-b border-gray-100 opacity-50 my-0 py-0" />
    </nav>

    <div class="pt-12">
      <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
      {{ .Content }}

      </div>
    </div>

    <footer class="bg-white">
      <div class="container mx-auto px-8 mt-20 text-center">
              <a class="hover:underline" href="https://github.com/andrewarrow/feedback">made with the "go on rails" framework</a>
      </div>
      <div class="container mx-auto px-8 mt-20 text-center">
              &nbsp;
      </div>
    </footer>

</body>
</html>
