<main class="my-0 mx-auto max-w-3xl text-center">
  <h2 class="p-6 text-4xl font-bold">Run your own Bank</h2>

  <p class="px-10 pb-10 text-left">
  The best way to protect your digit assets is to split them up into
  multiple hot wallets on many different severs and 
  treat it like a family business. <span class="font-bold text-pink-600">More than one person</span>
  is trusted with the private keys to keep the business running in the event of anyone's death.  i.e. you don't want all your assets in a major exchange for fear of that
  entity failing, and you don't want a cold wallet with a password known only
  by one person, you want a family business that can <span class="font-bold text-black-900">keep running for generations.</span>
  </p>

  <a href="/sessions/new/" class="bg-sky-600 hover:bg-sky-700 px-5 py-3 text-white rounded-lg">Demo SaaS Version</a>
  <a href="https://github.com/andrewarrow/familyoffice" class="bg-green-600 hover:bg-sky-700 px-5 py-3 text-white rounded-lg">Self Host Open Source</a>
</main>

