<main class="my-0 mx-auto max-w-3xl text-center">
  <h2 class="p-6 text-4xl">Run Your Own Exchange</h2>

  <p class="px-10 pb-10 text-left">
  The best way to protect your digit assets is to run your own exchange and
  treat it like a family business. More than one person is trusted with the
  private keys to keep the business running in the event of anyone's death.
  i.e. you don't want all your stuff in a major exchange for fear of that
  entity failing, and you don't want a cold wallet with a password known only
  by one person, you want a family business that can keep running for generations.
  </p>

  <button class="bg-sky-600 hover:bg-sky-700 px-5 py-3 text-white rounded-lg">Learn More</button>
</main>

